body{background-color: aliceblue;}
h1 {color: brown; text-align: center;}
.bodyy{
    background-color: pink;
    margin-left: 3px;
}
.text_1{
    font-style: oblique;
}
span{
    color:royalblue;
    font-size: 17px;
    font-weight: bold;
    margin-left: 8px;
}
hr{
    color: black;
}
textarea{
    text-align: left;
}
.foot{
    border-radius: 50px;
    background-color: coral;
}
.bott{
   display: flex;
}
.last {
    margin-top: auto;
}
.text_1, .foot {
    text-decoration:dashed;
}